body {

    background-color: #696969;
}

h1 {

    text-align: center;
    color: yellow;
}

#jeu {

    position: relative;
    left: 800px;
    top: 100px;
}

button {

    margin: 10px;
    width: 80px;
    height: 80px;

}
